<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {"timestamp":"%d{ISO8601}","level":"%level","service":"${springAppName:-flash-sale-service}","traceId":"%X{traceId}","spanId":"%X{spanId}","requestId":"%X{requestId}","userId":"%X{userId}","orderId":"%X{orderId}","productId":"%X{productId}","eventId":"%X{eventId}","message":"%replace(%msg){'\n','\\n'}"}%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
