<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <conversionRule conversionWord="safeMsg" converterClass="com.vibhu.security.pii.logging.PiiMaskingConverter"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %safeMsg%n</pattern>
    </encoder>
  </appender>

  <logger name="PII_AUDIT" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
